.button {
  @include font($fs: $body2, $fw: $regular, $fc: $gray, $ff: $noto-sans);
  background-color: $white;
  border-radius: $radius-button;
  line-height: 1.2rem;

  &.text {
    padding: 0.3rem 0.5rem;
  }

  &.active {
    color: $white;
    background-color: $gray;
  }
}
