.settings-wrapper {
  @include flex;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  gap: 2.5rem;
  padding: 2rem 3.5rem 0 5rem;

  .settings-item {
    @include flex;
    justify-content: space-between;
    width: 100%;
    .settings-title {
      @include font($fs: $h4, $fw: $regular, $fc: $black, $ff: $noto-sans);
    }
    .settings-content {
      @include flex;
      @include font($fs: $h4, $fw: $regular, $fc: $gray, $ff: $noto-serif);

      .link {
        @include font($fs: $h4, $fw: $regular, $fc: $gray, $ff: $noto-serif);
        text-decoration: none;
      }
    }
  }

  .logout {
    @include flex;
    @include font($fs: $h4, $fw: $regular, $fc: $gray, $ff: $noto-sans);
  }
}
