.input-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.3rem 1rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  border: 1px $gray solid;
  border-radius: 6px;

  input {
    @include font($fs: $body2, $fw: $regular, $fc: $black, $ff: $noto-sans);
    line-height: 1.5;
    caret-color: $gray;
  }
}
