.disable-touch {
  touch-action: none;
  * {
    touch-action: none;
  }
}
.swiper-container {
  height: calc(100dvh - 5rem);
}

.swiper-card {
  @include flex;
  flex-direction: column;
}

.content-container {
  width: 100%;
  flex-grow: 1;
  height: calc(100% - 8.75rem);
  padding: 3rem;
  overflow-y: scroll;
}
.content-wrapper {
  @include flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;

  &:not(:has(.text)) {
    height: 100%;
  }
}

.title-word {
  @include font($fs: $h3, $fc: $black, $fw: $bold, $ff: $noto-serif);
  margin-bottom: 2rem;
  text-align: center;
}

.text {
  @include font($fs: $body1);
  word-break: break-all;
  white-space: pre-wrap;
  width: 100%;
  padding: 0 2rem 0 2rem;
  border: none;
  resize: none;
  background-color: $white;
}

.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}
