// .content-container {
//   width: 100%;
//   flex-grow: 1;
//   height: calc(100% - 8.75rem);
//   padding: 3rem;
//   overflow-y: scroll;

//   .content-wrapper {
//     @include flex;
//     flex-direction: column;
//     justify-content: center;
//     width: 100%;
//     min-height: 100%;

//     .content {
//       @include font($fs: $body1);
//       text-align: center;
//       word-break: normal;
//       width: 100%;
//     }
//   }
// }
.disable-touch {
  touch-action: none;
  * {
    touch-action: none;
  }
}
.swiper-container {
  height: calc(100dvh - 5rem);
}

.swiper-card {
  @include flex;
  flex-direction: column;
}

.content-container {
  width: 100%;
  flex-grow: 1;
  height: calc(100% - 8.75rem);
  padding: 3rem;
  overflow-y: scroll;
}
.content-wrapper {
  @include flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
}

.content {
  @include font($fs: $body1);
  text-align: center;
  word-break: break-all;
  width: 100%;
}
