// 글씨체
$noto-sans: var(--font-noto-sans-kr);
$noto-serif: var(--font-noto-serif-kr);

// font size
$h1: 2.2rem;
$h2: 2rem;
$h3: 1.8rem;
$body1: 1.4rem;
$body2: 1.2rem;
$body3: 1rem;
$caption: 0.8rem;

// font weight
$regular: 400;
$bold: 700;

// letter spacing
$ls-btn: 1.25px;
