// .swiper-container {
//   height: calc(100dvh - 5rem);
// }

// .swiper-card {
//   @include flex;
//   flex-direction: column;
// }

// .content-container {
//   @include flex;
//   width: 100%;
//   flex-grow: 1;
//   padding: 3rem 3rem 0 3rem;
// }
// .content-wrapper {
//   @include flex;
//   align-items: flex-start;
//   max-height: calc(100dvh - 16.5rem);
//   overflow: auto;
//   width: 100%;
// }

// .content {
//   text-align: center;
//   word-break: normal;
//   width: 100%;
// }

.disable-touch {
  touch-action: none;
  * {
    touch-action: none;
  }
}
.swiper-container {
  overflow: hidden;
  height: calc(100vh - 5rem);
}

.swiper-card {
  @include flex;
  height: calc(100vh - 5rem);
  flex-direction: column;
}
