.navbar {
  @include flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 5rem;
  padding: 1rem 1.5rem;
  background-color: $white;
  z-index: 1;
}

.right-icon-container {
  @include flex;
  gap: 1rem;
}

.filter-container {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5rem;
  left: calc(100% / 2);
  transform: translate(-50%, 0%);
  padding: 0 1.5rem;
  border-bottom: 0.1px $gray solid;
  background-color: $white;
}

.date {
  @include font($fs: $body1, $fw: $regular, $fc: $gray, $ff: $noto-serif);
}

.title {
  @include font($fs: $h1, $fw: $regular, $fc: $gray, $ff: $noto-sans);
  line-height: 1.2rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.wordseed {
  @include font($fs: $h2, $fw: $regular, $fc: $black, $ff: $noto-serif);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.blank {
  width: 24px;
  height: 24px;
}
