.media {
  @include flex;
  position: relative;
  width: 100%;
  height: fit-content;
  max-height: 100%;

  &:has(img) {
    height: inherit;
  }

  img {
    object-fit: contain;
  }

  &:has(video) {
    @include shadow-drop1();
    background-color: $light-gray;
  }

  video {
    max-height: inherit;
    width: inherit;
  }
}
